@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.container{
    max-width: 110rem;
    margin: 0 auto;
    padding: 2rem;
}

@layer components{

    /* HEADER */
    .header{
        @apply bg-ggray fixed w-[100%] z-50
    }
    .header .container{
        @apply py-[1.5rem] px-[2.5rem]
    }
    .header__body{
        @apply text-dwhite flex justify-between items-center
    }
    .header__nav{
        @apply flex gap-[2rem]
    }

    /* FIRST PART (MAIN PAGE) */
    .banner{
        @apply bg-[url('../images/BGDBLUE.jpg')]
    }
    .banner__body{
        @apply flex flex-col items-center justify-center pb-[10rem] relative
    }
    .banner p{
        @apply text-center 
    }
    .banner p:first-child{
        @apply text-[140px] text-cyan font-bold pt-[5rem] pb-[2rem] px-0
    }
    .banner p:nth-child(2){
        @apply text-white text-[1.6rem] px-[22rem] pb-[6rem]
    }
    .banner__body a{
        @apply text-cyan text-[3rem] text-center flex items-center justify-center absolute translate-y-[250px]
    }
    .banner__body a:hover{
        @apply text-[3.4rem] absolute translate-y-[252px]
    }

    /* SECOND PART (MAIN PAGE) */
    .banner__aboutme {
        @apply bg-gradient-to-b from-bblack to-dblue
    }
    .banner__aboutme__body{
        @apply flex gap-[8rem] px-[6rem] pb-[6rem] pt-[8rem]
    }
    .banner__aboutme__text{
        @apply text-dwhite font-normal text-center flex-col leading-8 
    }
    .banner__aboutme__imgcontainer{
        @apply w-[90rem] relative
    }
    .banner__aboutme__imgcontainer img.me-first, .banner__aboutme__imgcontainer img.me-second{
        @apply absolute rounded-[4rem] w-full h-[25rem] opacity-[100%] transition-opacity duration-100
    }
    .banner__aboutme__imgcontainer img.me-second{
        @apply opacity-0
    }
    .banner__aboutme__imgcontainer:hover img.me-first{
        @apply opacity-0
    }
    .banner__aboutme__imgcontainer:hover img.me-second{
        @apply opacity-100
    }
    .banner__aboutme__name{
        @apply pb-[2rem] text-[3rem] text-start
    }
    .banner__aboutme__desc{
        @apply text-justify text-[1.4rem]
    }
    .banner__aboutme__desc p:first-child{
        @apply text-justify text-[1.4rem] pb-[2rem]
    }

    /* THIRD PART (MAIN PAGE) */
    .banner__educ{
        @apply bg-gradient-to-b from-dblue to-bblack
    }
    .banner__educ img{
        @apply w-[20rem] rounded-[4rem]
    }
    .banner__educ__body{
        @apply flex gap-[8rem] p-[6rem] 
    }
    .banner__educ__content{
        @apply text-dwhite flex flex-col justify-between w-[100%]
    }
    .banner__educ__title p{
        @apply text-[3rem] pb-[2rem]
    }
    .banner__educ__college{
        @apply text-[1.5rem] pb-[1rem]
    }
    .banner__educ__shs{
        @apply text-[1.5rem]
    }
    .banner__educ__achievements p{
        @apply text-center
    }
    .banner__educ__achievements a:hover p{
        @apply underline
    }

    /* FOURTH PART(MAIN PAGE) */
    .banner__resume{
        @apply bg-gradient-to-b from-bblack to-dblue
    }
    .banner__resume__body{
        @apply flex flex-col items-center p-[6rem] text-dwhite
    }
    .banner__resume__title{
        @apply text-[4rem] pb-[5rem]
    }
    .banner__resume__body img{
        @apply w-[40rem] pb-[2rem]
    }

    /* FIFTH PART(MAIN PAGE) */
    .banner__projects{
        @apply bg-bblack
    }
    .banner__projects__body {
        @apply flex items-center justify-center
    }
    .banner__projects__body p{
        @apply text-[6rem] text-cyan text-center font-bold px-[7rem] py-[8rem]
    }

    /* CONTACTS(MAIN PAGE) */
    .banner__contacts {
        @apply bg-dblue
    }
    .banner__contacts__body{
        @apply flex flex-col gap-[7rem] pt-[4rem] px-[5rem] pb-[10rem]
    }
    .banner__contacts__body i{
        @apply text-[3rem]
    }
    .banner__contacts__title{
        @apply text-dwhite font-semibold text-center text-[4rem]
    }
    .banner__contacts__content{
        @apply flex justify-between
    }
    .banner__contacts__content a{
        @apply text-dwhite text-[1.4rem]
    }
    .banner__contacts__left{
        @apply flex flex-col gap-[3rem] max-w-[20rem]
    }
    .banner__contacts__right{
        @apply flex flex-col gap-[3rem]
    }
    /* Social Media */
    .banner__contacts__facebook{
        @apply flex gap-[2rem] items-center
    }
    .banner__contacts__facebook a:last-child:hover{
        @apply flex gap-[2rem] items-center underline
    }
    .banner__contacts__linkedin{
        @apply flex gap-[2rem] items-center
    }
    .banner__contacts__linkedin a:last-child:hover{
        @apply flex gap-[2rem] items-center underline
    }
    .banner__contacts__github{
        @apply flex gap-[2rem] items-center
    }
    .banner__contacts__github a:last-child:hover{
        @apply flex gap-[2rem] items-center underline
    }
    .banner__contacts__mail{
        @apply flex gap-[2rem] items-center
    }
    .banner__contacts__mail a:last-child:hover{
        @apply flex gap-[2rem] items-center underline
    }

    /* FOOTER */
    .footer{
        @apply bg-ggray border-t-2 border-gray-500
    }
    .footer .container{
        @apply py-[1.2rem]
    }
    .footer__body{
        @apply text-dwhite text-[2.2rem] flex items-center justify-between px-[3rem]
    }
    .footer__copyright{
        @apply text-[1.2rem]
    }
    .footer__logos{
        @apply flex gap-[1.1rem]
    }
    .footer__logos a:first-child:hover{
        @apply text-cyan
    }
    .footer__logos a:nth-child(2):hover{
        @apply text-cyan
    }
    .footer__logos a:last-child:hover{
        @apply text-cyan
    }
    .footer__copyright{
        @apply text-[1rem]
    }
}
